body {
    font-family: sans-serif;
    background: #AAE74A;
}

#content {
    float: left;
    width: 220px;
    padding: 0px 10px 15px 10px;
    border: 1px solid #666;
    background-color: white;
    margin: 0px 15px 0px 0px;
}

#content h2 {
    color: #0065FF;
}

#content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#content li {
    margin: 0;
    padding: 4px 15px 4px 15px;
    color: #0065FF;
}

#current {
    margin: 0;
    padding: 4px 15px 4px 15px;
    background-color: #AAE74A;
}

#content a {
    text-decoration: none;
    color: #0065FF;
}

#content a:hover {
    text-decoration: underline;
}

.note {
    float: right;
    width: 210px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #666;
    background-color: grey;
    margin: 30px 15px 0px 0px;
}

.imagenote {
    float: right;
    width: 210px;
    padding: 5px 5px 5px 5px;
    margin: 30px 15px 0px 0px;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: sans-serif;
    width: 80%;
    font-size: 15px;
    line-height: 180%;
    padding: 8px 8px 8px 8px;
    border: 0px solid #666;
}

ul {
    overflow: hidden;
}

ol {
    overflow: hidden;
}

.floatleft {
    float: left;
    margin: 15px 15px 15px 0px;
    /*border: 1px solid #666;*/
    padding: 0px;
}

.floatright {
    float: right;
    margin: 15px 0px 15px 15px;
    /*border: 1px solid #666;*/
    padding: 0px;
}

.icon {
    float: left;
    /*border: 1px solid #666;*/
    margin: 0px 10px 0px 0px;
    padding: 0px;
}

.command {
    /*background-color: darkgray;*/
    font-family: monospace;
    margin: 0px 1px 0px 1px;
}

.commandblock {
    background-color: darkgray;
    font-family: monospace;
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
}

.code {
    /*background-color: #e1e1e1;*/
    font-family: monospace;
    margin: 0px 1px 0px 1px;
}

.codeblock {
    /*background-color: #e1e1e1;*/
    font-family: monospace;
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
}

.emphasis {
    background-color: #e1e1e1;
    font-family: cursive;
}

.english {
    font-style: italic;
}

.math {
    font-style: italic;
}

button {
    color: #0065FF;
    background: darkgrey;
    padding: 3px 3px 3px 3px;
}

.student {
    background: #AAB74A;
    font-family: cursive;
}

.guru {
    background: #AA974A;
    font-family: cursive;
}

.question {
    margin: 0px 0px 10px 0px;
}

.answer {
    margin: 10px 0px 10px 0px;
}

#footer {
    clear: both;
    /*width: 80%;*/
    text-align: center;
    font-size: x-small;
    margin: 20px 0px 20px 0px;
}

#footer a {
    text-decoration: none;
}
