body {
    font-family: sans-serif;
    background: burlywood;
    width: 80%;
    font-size: 15px;
    line-height: 180%;
    padding: 8px 8px 8px 8px;
    border: 0px solid #666;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    width: 80%;
    font-size: 15px;
    line-height: 180%;
    padding: 8px 8px 8px 8px;
    border: 0px solid #666;
}

.command {
    font-family: monospace;
    margin: 0px 1px 0px 1px;
}

.commandblock {
    background-color: darkgray;
    font-family: monospace;
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
}

.code {
    font-family: monospace;
    margin: 0px 1px 0px 1px;
}

.codeblock {
    font-family: monospace;
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
}

.emphasis {
    background-color: #e1e1e1;
    font-family: cursive;
}

.english {
    font-style: italic;
}

.math {
    font-style: italic;
}
